

body {
  font-family: Arial, sans-serif;
}

.home-image{
  width: 100%;
  height: 660px;
}
 .main-container{
  position: relative;
} 

ul{
  list-style-type: square;
  padding-top: 10px;
}
.recent{
  background-color:#ca7373df ;
  color: white;
  margin-top: 100px;
  margin-left: -30px;
  padding-left: 20px;
  border-radius: 5px;
  font-size: 24px;
  width: 250px !important;
}
.recent-ul{
  font-size: 18px;
  color: #4b4a4a;
  margin-left: -40px;
  padding-top: 20px;
}
.inner-container{
  background-image: url('./h.webp');
  height: 660px;
 
}
.main-content{
  background-color: rgba(0, 0, 0, 0.628);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 660px;
  backdrop-filter: blur(0px);
}
.content-container{
  /* width: 700px; */
  top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.heading{
  font-size: 100px;
}
/* SearchBar========================= */
.fa-magnifying-glass{
  font-size: 30px;
}
.container-fluid{
  position: absolute;
  top: 620px;

}
.label {
  font-size: .625rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: +1.3px;
  margin-bottom: 1rem;
}

.searchBar {
  width: 100% ;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}

#searchQueryInput {
  width: 50%;
  height: 4.8rem;
  background: #fff;
  outline: none;
  border: none;
  padding-left: 25px !important;
  box-shadow: 0px 1px 11px rgba(0, 0, 0, 0.397);
  font-size: 1rem;
  border-radius:50px !important;
}

#searchQuerySubmit {
  width: 3.5rem;
  height: 2.8rem;
  margin-left: -5rem;
  background: none;
  padding-right: 60px !important;
  color: tomato;
  border: none;
  outline: none;
}

#searchQuerySubmit:hover {
  cursor: pointer;
}
button{
  color: #CB735D;
}



@media (max-width: 480px) {
  .heading {
    font-size: 35px;
    padding: 18px;
    text-align: center;
  }
  .para{
    font-size: 18px;
    padding: 20px;
  }

  .recent{
    background-color:#ca7373df ;
    color: white;
    margin-top: 100px;
    margin-left: 40px;
    padding-left: 20px;
    border-radius: 5px;
    font-size: 24px;
    width: 250px !important;
  }
  .recent-ul{
    font-size: 18px;
    color: #4b4a4a;
    margin-left: 40px;
    padding-top: 20px;
  }
  .inner-container{
    background-image: url('./h.webp');
    height: 660px;
   
  }
  .searchBar {
    width: 100% ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
  }
  
  #searchQueryInput {
    width: 100%;
    margin-left: -20px;
    height: 4.8rem;
    background: #fff;
    outline: none;
    border: none;
    padding-left: 25px !important;
    box-shadow: 0px 1px 11px rgba(0, 0, 0, 0.397);
    font-size: 1rem;
    border-radius:50px !important;
  }
  
  #searchQuerySubmit {
    width: 3.5rem;
    height: 2.8rem;
    margin-left: -5rem;
    background: none;
    padding-right: 60px !important;
    color: tomato;
    border: none;
    outline: none;
  }
}
